h1{
    text-transform:uppercase;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;  
}

:root{
    --header-color:#255AE2;
    --button-color:#679C75;
    --withdraw-color:#FD280C;
    --button-text-color:#fff;
    --title-font: roboto;
    --text-font:montserrat;
    --card-border:1px solid#E5E5E5;
    --card-border-radius:25px;
}

body,html{
      width:100%;
      height:100vh;
}
.page-container{

    display:grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(3,1fr);
   max-width:1300px;
   margin:auto;
   gap:23px;

}

main{
    border:var(--card-border);
    border-radius: var(--card-border-radius);
    width:100%;
    height:400px;
    grid-column:span 2;
   box-shadow:
    0 1px 3px rgba(0,0,0,0.12),
    0 4px 8px rgba(0,0,0,0.06);
}

.deposit-box{
    border:var(--card-border);
    border-radius: var(--card-border-radius);
    width:100%;
    height:400px;
    box-shadow:
    0 1px 3px rgba(0,0,0,0.12),
    0 4px 8px rgba(0,0,0,0.06);
}
.transfer-box{
    border:var(--card-border);
    border-radius: var(--card-border-radius);
    width:100%;
    min-height:400px;
    grid-row: span 2;
    box-shadow:
    0 1px 3px rgba(0,0,0,0.12),
    0 4px 8px rgba(0,0,0,0.06);
  
}
.list-container{
     border:var(--card-border);
    border-radius: var(--card-border-radius);
    width:100%;
    min-height:400px;
    grid-column:span 2;
   box-shadow:
    0 1px 3px rgba(0,0,0,0.12),
    0 4px 8px rgba(0,0,0,0.06);
}
.name-input{
    width:600px;
    padding:1rem;
}

.btn{
    max-width:700px;
    width:100%;
    background:var(--header-color);
    color:var(--button-text-color);
    text-align: center;
    border:none;
    padding:1rem;
}