h1{
    text-transform:uppercase;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;  
}

:root{
    --header-color:#255AE2;
    --button-color:#679C75;
    --withdraw-color:#FD280C;
    --button-text-color:#fff;
    --title-font: roboto;
    --text-font:montserrat;
    --card-border:1px solid#E5E5E5;
    --card-border-radius:25px;
}

body,html{
      width:100%;
      height:100vh;
}
h1,h2,h3{
    text-transform:capitalize;
}
.page-container{

    display:grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(3,1fr);
   max-width:1300px;
   margin:auto;
   gap:23px;

}
header{
    background: var(--header-color);
    padding:1rem;
    margin-bottom:1rem;
}
h1{
    color:var(--button-text-color);
    display:flex;
    justify-content:center;
    gap:1rem;
    
}
.account-form{
    display: none;
    
}

.newDiv > div{
    display:flex;
    flex-direction: column;
    border:2px solid black;
}
.list-wrapper{
    display:flex;
  flex-direction: column;
    
}
.account-form input{
    max-width: 600px;
    width:100%;
    padding:1rem;
}

.submit-btn{
    display:none;
}
main{
    border:var(--card-border);
    border-radius: var(--card-border-radius);
    width:100%;
    height:400px;
    grid-column:span 2;
   box-shadow:
    0 1px 3px rgba(0,0,0,0.12),
    0 4px 8px rgba(0,0,0,0.06);
  display:flex;

  justify-content:center;
 align-items: center;
   
}
.main-content{
    width:50%;
    display:flex;
    flex-direction:column;
    gap:1rem;
}
main h2{
    text-align:center;
}


section{
     padding:3rem;
}

.bttn{
    border:none;
    max-width:242px;
    width:100%;
    cursor:pointer;
    padding:1rem;
    color:var(--button-text-color);
    text-align:center;
    text-transform: capitalize;
    border-radius: 7px;                                                                                                         ;
}
.bttn-section{
    display:flex;
   
    gap:1rem;
}
label{
    font-size:17px;
    font-weight:lighter;
    text-transform:capitalize;
}

.transfer-btn{
    background:var(--button-color);
    display:flex;
    gap:1rem;
    justify-content:center;
}

.deposit-btn{
background:var(--button-color);
 display:flex;
    gap:1rem;
    justify-content:center;
    align-items: center;
}
.withdraw-btn{
    background:var(--withdraw-color);
     display:flex;
    gap:1rem;
    justify-content:center;
    align-items: center;
}

.showform{
    display:block;
}

.section-content{
    display:flex;
    flex-direction:column;
    gap:1rem;
    width:100%;
    
}

`
.section-content input, .btn{
    min-width:0;
}


.deposit-box input, .transfer-box input{
    max-width:500px;
    width:100%;
    padding:0.7rem;
    
}

.deposit-box{
    border:var(--card-border);
    border-radius: var(--card-border-radius);
    width:100%;
    height:400px;
    box-shadow:
    0 1px 3px rgba(0,0,0,0.12),
    0 4px 8px rgba(0,0,0,0.06);
}
.transfer-box{
    border:var(--card-border);
    border-radius: var(--card-border-radius);
    width:100%;
    min-height:400px;
    grid-row: span 2;
    box-shadow:
    0 1px 3px rgba(0,0,0,0.12),
    0 4px 8px rgba(0,0,0,0.06);
  
}
.list-container{
     border:var(--card-border);
    border-radius: var(--card-border-radius);
    width:100%;
    min-height:400px;
    grid-column:span 2;
   box-shadow:
    0 1px 3px rgba(0,0,0,0.12),
    0 4px 8px rgba(0,0,0,0.06);
}
.name-input{
    max-width:600px;
    width:100%;
    padding:1rem;
}

.account-btn{
    max-width:600px;
    width:100%;

    color:var(--button-text-color);
    text-align: center;
    text-transform:capitalize;
    border:none;
    padding:1rem;
    cursor:pointer;
    border-radius:7px;
}

.submit{
    background-color: var(--withdraw-color);
}

.create{
    background:var(--header-color);
}

.fa-arrow-right-arrow-left{
   
}

.list-content{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid grey;
}