h1{
    text-transform:uppercase;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;  
}

body,html{
      width:100%;
      height:100vh;
}
.page-container{

    display:grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(3,1fr);
max-width:1300px;
margin:auto;

}

main{
    background:green;
    width:100%;
    height:400px;
    grid-column:span 2;
   
}

.deposit-box{
    border:2px solid black;
    width:100%;
    height:400px;
}
.transfer-box{
    border:2px solid blue;
    width:100%;
    min-height:400px;
    grid-row: span 2;
}
.list-container{
    border:2px solid orange;
    width:100%;
    min-height:400px;
    grid-column:span 2;
}